
.info{
  margin-top: 25px;
  font-size: 12px;
  overflow: hidden;
}
.fa {
    overflow: hidden;
  margin-top: 25px;
}
.fa-phone{
margin-top: 25px;
  overflow: hidden;
}
.fa-map-marker{
  margin-top: 25px;
    overflow: hidden;
}

.placeholder {
   position: relative;
   text-align: center;
   height: 200px;
   margin-right: 0px;
   background-color: rgb(216, 1, 41);
   border-bottom: solid white;
     overflow: hidden;
 }

 .content {
   font-size: 2em;
     overflow: hidden;
 }

 .circle:before {
  content: ' \25CF';
  font-size: 100px;
  color: white;
  margin-left: 150px;
    overflow: hidden;
}
#grad1 {
  background: rgb(216, 1, 41);
  background: -webkit-linear-gradient(-90deg, rgb(216, 1, 41), rgb(110, 16, 47));
  background: -o-linear-gradient(-90deg, rgb(216, 1, 41), rgb(110, 16, 47));
  background: -moz-linear-gradient(-90deg, rgb(216, 1, 41), rgb(110, 16, 47));
  background: linear-gradient(-90deg, rgb(216, 1, 41), rgb(110, 16, 47));
  border-top: solid black;
     margin-right: 0px;
       overflow: hidden;
}
a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
  opacity: 0.5;
	background: url("up-arrow.png") no-repeat center 30% !important;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 40px;
    overflow: hidden;
}

footer {
  overflow: hidden;
  height: 100%;
  color: black;
  background-color: #AA3939;
  margin-right: 0px;
  width: 100%;
}
.fot{
  width: 350px;
    overflow: hidden;
}
p.fot {
padding-top: 50px;
margin-left: 80px;
margin-right: 0px;
color: white;
overflow: hidden;
}
a {
  color: #FFA500;
  text-decoration: none;
}
a:hover {
  color: #FFA500;
  text-decoration: underline;
}
.col-md-3.inf {
  float: right !important;
  padding-top: 75px;
    overflow: hidden;
}
.fd {
  color: white;
  padding-left: 80px;
  overflow: hidden;
}
.col.content.rep{
  text-align: center;
  border: solid white;
  padding: 70px 0;
}
